@import "./global/setup";
@import "./global/meditate";
@import "./global/settings";

// GENERAL STYLES

// variables

$primary: #153B50;
$text: #ECEBE4;
$toggleOne: #DB5461;
$toggleTwo: #59CD90;
$toggleThree: #F0C808;

// colours

body {
    background-color: $primary;
}

h1,
h2,
p {
    color: $text;
}

a {
    color: $toggleThree;
}

// font families

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Tenali Ramakrishna", serif;
}

// font sizes

body {
    font-size: 2rem;
}

h1 {
    font-size: 7rem;
}

h2,
h3 {
    font-size: 4rem;
}

// effects

body {
    text-shadow: 1px 0 3px black;
}

// VISIBILITY

.animation {
    border: 15px solid $text;
    opacity: 0.5;
    margin: 0 auto;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    animation: breathe 3s ease-in infinite;
    animation-direction: alternate;
}

@keyframes breathe {
    0% {
        transform: scale(0.3);
        // width: 10vw;
        // height: 10vw;
    }
    10% {
        transform: scale(0.3);
        // width: 10vw;
        // height: 10vw;
    }
    90% {
        transform: scale(1);
        // width: 50vw;
        // height: 50vw;
    }
    100% {
        transform: scale(1);
        // width: 50vw;
        // height: 50vw;
    }
}

.active {
    display: block;
}

.dormant {
    display: none;
}

// CLICKING

a {
    text-decoration: none;
}

// MARGINS & PADDING

// wrapper
.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin-top: 200px;
    margin-bottom: 200px;
}

.submit {
    margin-top: 200px;
}